.vscode/settings.json
/bin/
/dist/
/tmp/
/config/
.env
.env.local
.state/

/confedit*

# Ignore backup files with 32-character checksums (any 32 chars after dot)
/testdata/*.????????????????????????????????
